footer{
    background-color: black;
    padding: 60px;
    text-align: center;
}

.navbar-custom{
    background:black;
}

.card-deck{
    margin-top: 30px;
    margin-bottom: 30px;
}

.sharebutton{
    color: crimson;
}


